body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  height: fit-content;
  width: fit-content;
  background-color: blueviolet;
  border-radius: 1rem;
  padding: 3rem;
  overflow: hidden;
}
.show {
  display: block;
  padding: 0.5rem;
}
.hide {
  display: none;
}
#drop-down,
button {
  padding: 0.5rem;
}
